@font-face {
    font-family: "Book Antiqua";Palatino, "Palatino Linotype", Georgia, serif;
    
}

html {
   width:100%;
   height:100%;
}

body {
	color: #0a52a5;
	font-family: "Book Antiqua";Palatino, "Palatino Linotype", Georgia, serif;
}

#title {
	font-family: "Book Antiqua";Palatino, "Palatino Linotype", Georgia, serif;
	font-size: 72px;
	text-align: center;
}

.container {
	background-color:#4886a0;
}

#heading {
	text-align: center;
	background-color:teal;
	color: white;
	margin: 0px;
}

button:hover {
	background-color: #ff6225;
	color: white;
}

#addBurger {
	text-align: right;
	
	background-size: contain;
	margin: 0px;
}

.bgr{
    height: 200px;
    width: 200px;
    margin-left:auto;
    margin-right:auto;
    display: block;
}